{% extends "body.html" %}
{% block content %}

<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Jobs') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2022</a>
            </li>
            <li>{{ _('Jobs') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->
<!-- Sponsors Area Start Here -->
<section class="section-space-default bg-light">
  <div class="container">
    <div class="section-heading title-black color-dark text-center">
      <h2>{{_('Job offers from our partners')}}</h2>
      <p>{{_('Interested in Python related job positions? Check out our sponsors\' job offers.')}}</p>
    </div>
    <!--          <div class="title-black color-dark text-center">-->
    <!--              <div class="sponsor-details">-->
    <div class="row justify-content-center">
      <div class="col-xl-9 align-self-center mt-4">
        <button type="button" onclick="jobsAll()" id="btn-all" class="btn-fill size-sm btn-info btn-job-company">
          {{ _('All companies') }}
        </button>
        {% for company in companies %}
          <button type="button" onclick="jobFilter('{{ company }}')" id="btn-{{ company }}" class="btn-fill size-sm btn-info btn-job-company mb-2" style="">
            {{ company }}
          </button>
        {% endfor %}
      </div>
      <div class="col-xl-9 align-self-center mt-2">
        <div class="text-muted">{{ _('Displaying offers for') }} <b><span id="current_company">*</span></b></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-9 align-self-center">
        <div id="photo-gallery">

          {% for job in jobs %}
          <div class="mt-2 mr-1 ml-1 mb-1 picture-item" data-groups='["{{ job.lang }}", "{{ job.company }}"]'>
            <hr class="mt-1 mb-3">
            <h4 class="mb-1">
              {% if job.lang == "SK" %}
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg==" alt="slovenský jazyk">
              {% elif job.lang == "EN" %}
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACJElEQVQokYWQW0jTYQDFv8ceehELCx96CoqlYaxSQYaZoWBCNTNl6JbLkKGV+RBZy3mp8Ia3LooammGY5TIyAzOHKVmRQ52xdIREMMlVkLKm///362HVk9B5OnA4F45oaB5m0LVE8a1xzGXjmMtGMdlGcHt8PMyx0Wu04vb4SLYMkJQ7SJzBTqbtOa1HzlDcNobouv8GHvcgJcwtLNNpn+NO3zxSAk3VUFuBlNDQMU1Nm5OJ15+RlZeQaoC6fifiZLmDoYlvcK8bHC8AuHrTBQCn8sBoAqCodorlzl78VVUAtPdMsVV7OxjQYfdgrXexMPwJpfQK/2AwQPqJIM/PA68X57yP+ORuCktfERJRj3B7fMG56yEtDVJT15WkhHezi4he02VovA5mM2RnQ0YG6PVBY0oKMjGRVZ2OQEwMfq2WlchIVjQaAscOUbEt9j8L4uJQ9kX/7QRAVVUUVWFNUZhweRG6rH6qWyfJzB1kxvUdfEsEcrKDlj1a1nZH/QlQ+XIgnpfNT9kS3oLe2IcItSD2H3/E3b7g6z9tVn5UVmIoGgdA0USwulMDUhKr6yIALLe04TUaKL3xHhFyGtH4ZBopVfzXLjA2Mse5EgcFJaNICao+ibWjCUhVJT13gLSsBzwb/Yiq/OKr8TCWwi7ExfYRmg7mkJDXSciuVjbuaGTD9jomZ71UhEdTHqbl7cwiIuw8YvNZRGg+m6Ks1Ax9IHFvAb8B0rMYCWdRNDQAAAAASUVORK5CYII=" alt="english language">
              {% endif %}
              <a href="{{ job.url }}" target="_black">
                {{ job.company }}: {{ job.title | safe }}
              </a>
              {{ job.pay | safe }}
            </h4>
            <p class="mb-3">
              {{ job.desc | safe }}
              <br>
              <b class="text-muted">{{ job.tags | safe }}</b>
            </p>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/6.1.0/shuffle.min.js" integrity="sha512-r8mIpk3ypCMwNxH6srRZGbjHQlOFt3Mq2vrZ/iymx6g9JUqTeVavofeX6gbrxAC74X5HmBy5gxyhCm6OiXrM0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
  const Shuffle = window.Shuffle; // Assumes you're using the UMD version of Shuffle (for example, from unpkg.com).
  const element = document.getElementById('photo-gallery');
  const sizer = element.querySelector('.js-shuffle-sizer');
  
  const shuffleJobsInstance = new Shuffle(element, {
    itemSelector: '.picture-item',
    sizer: sizer, // could also be a selector: '.js-shuffle-sizer'
  });

  shuffleJobsInstance.sort({
    randomize: true
  });

  document.addEventListener("DOMContentLoaded", function(){
    if(window.location.hash) {
      var hash = window.location.hash.substring(1);
      jobFilter(hash);
    }
  });


  function jobsAll() {
    shuffleJobsInstance.filter(Shuffle.ALL_ITEMS);
    document.getElementById("current_company").innerHTML = "*";
    window.location.hash = '#all';
  };

  function jobFilter(tag) {
    shuffleJobsInstance.filter(tag);
    document.getElementById("current_company").innerHTML = ((tag == "all") ? "*" : tag);
    window.location.hash = '#' + tag;
  };
</script>

{% endblock %}