{% extends "body.html" %}
{% block content %}
<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Our sponsors') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2022</a>
            </li>
            <li>{{ _('Our sponsors') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'includes/sponsors_list.html' %}

<div class="sponsonrs-layout1">
  <h3 class="color-dark title-black text-center sponsors-title">{{_('Poporovatelia komunity')}}</h3>
  <div class="row sponsor-row justify-content-center">
    <div class="col-xs-12 col-sm-3 col-md-3">
      <div class="sponsor-details">

        <div class="sponsor-info">
          <h4 class="sponsor-name">Ján Gondoľ</h4>
        </div><!-- Info end -->
      </div><!-- Sponsor details -->
    </div>
  </div>


<!--                    <div class="row">-->
<!--                        <div class="col-12 text-center">-->
<!--                            <a href="#" title="Become a Sponsors" class="btn-fill size-lg color-yellow border-radius-5 margin-t-30">Become a Sponsors</a>-->
<!--                        </div>-->
<!--                    </div>-->



<!-- Content Page Area End Here -->
{% endblock %}

{% block js %}
{% endblock %}
