{% extends "body.html" %}
{% block content %}
<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Our sponsors') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2022</a>
            </li>
            <li>{{ _('Our sponsors') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Inner Page Banner Area End Here -->
    <!-- Sponsors Area Start Here -->
    <section class="section-space-default bg-light">
        <div class="container">
            <div class="section-heading title-black color-dark text-center">
                <h2>{{_('Our sponsors and partners')}}</h2>
                <p>{{_('We would be probably not able to make this event happen without support of our generous sponsors.')}}</p>
                <p>{{_('Check who made this event possible!')}}</p>
            </div>


<!--          <div class="title-black color-dark text-center">-->
<!--              <div class="sponsor-details">-->

            <div class="sponsonrs-layout1">
              <h3 class="color-dark title-black text-center sponsors-title">{{_('Diamond sponsor')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details diamond mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.titans.sk/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/titans.svg') }}" alt="Titans freelancers logo"/>
                          </a>
                      </div>
                  </div>
              </div>

              <h3 class="color-dark title-black text-center sponsors-title">{{_('Platinum sponsors')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details platinum mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.ataccama.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/ataccama.svg') }}" alt="Ataccama logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details platinum mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.sufio.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/sufio.png') }}" alt="Sufio logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details platinum mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.solargis.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/solargis.png') }}" alt="Solargis logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details platinum mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://exxeta.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/exxeta.png') }}" alt="Exxeta logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details platinum mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.lmc.eu/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/lmc.svg') }}" alt="LMC/Profesia logo"/>
                          </a>
                      </div>
                  </div>
              </div>

              <h3 class="color-dark title-black text-center sponsors-title">{{_('Gold sponsors')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details gold mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.raiffeisen.sk/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/rbi.png') }}" alt="RBI logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details gold mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.slido.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/slido_square.png') }}" alt="Slido logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details gold mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.makers.sk">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/Blueprint_Power_MAKERS.png') }}" alt="Blueprint Power & MAKERS logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details gold mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.swissre.com">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/swissre.png') }}" alt="Swiss Re logo"/>
                          </a>
                      </div>
                  </div>
              </div>

              <h3 class="color-dark title-black text-center sponsors-title">{{_('Bronze sponsors')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details silver mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.redhat.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/RedHat.png') }}" alt="Red hat logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.oreilly.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/oreilly.jpg') }}" alt="O'Reilly logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.jetbrains.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/jetbrains.svg') }}" alt="JetBrains logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.stickermule.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/stickermule.png') }}" alt="StickerMule logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.packtpub.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/packt_logo.svg') }}" alt="Packt logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://nostarch.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/no_starch.png') }}" alt="No Starch Press logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.digitalocean.com/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/digital_ocean.png') }}" alt="Digital Ocean logo"/>
                          </a>
                      </div>
                  </div>
              </div>

              <h3 class="color-dark title-black text-center sponsors-title">{{_('Community partners')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details silver mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.europython-society.org/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/eps.png') }}" alt="Europython Society logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details silver mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.python.org/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/psf.png') }}" alt="Python Software Foundation logo"/>
                          </a>
                      </div>
                  </div>
              </div>


              <div class="sponsonrs-layout1">
              <h3 class="color-dark title-black text-center sponsors-title">{{_('Main media partner')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://zive.aktuality.sk/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/zive.png') }}" alt="zive.sk logo"/>
                          </a>
                      </div>
                  </div>
              </div>
              </div>

              <h3 class="color-dark title-black text-center sponsors-title">{{_('Media partners')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details bronze mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://www.nextech.sk/">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/nextech.png') }}" alt="Nextech logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details partners mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="#">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/robime-it.svg') }}" alt="Robime.it logo"/>
                          </a>
                      </div>
                  </div>
              </div>

              <h3 class="color-dark title-black text-center sponsors-title">{{_('Partners')}}</h3>
              <div class="row sponsor-row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-detail partners mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="#">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/bts-group.png') }}" alt="BTS group logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details partners mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="#">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/fiit.svg') }}" alt="FIIT logo"/>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details partners mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="#">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/MLC20.png') }}" alt="MLC20"/>
                          </a>
                      </div>
                  </div>
		              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                      <div class="sponsonrs-box sponsor-details partners mx-auto mt-5 mr-1 ml-1 mb-1">
                          <a href="https://community.cncf.io/kcd-czech-slovak/" target="_blank">
                              <img class="img-responsive img-fluid" src="{{ url_for('static', filename='img/partners/KCD2022.jpg') }}" alt="KCD 2022 logo"/>
                          </a>
                      </div>
                  </div>
              </div>

              </div>
            </div>
        </div>
    </section>


<!--                    <div class="row">-->
<!--                        <div class="col-12 text-center">-->
<!--                            <a href="#" title="Become a Sponsors" class="btn-fill size-lg color-yellow border-radius-5 margin-t-30">Become a Sponsors</a>-->
<!--                        </div>-->
<!--                    </div>-->



<!-- Content Page Area End Here -->
{% endblock %}

{% block js %}
{% endblock %}
